@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 142.1 76.2% 36.3%;
    --primary-foreground: 355.7 100% 97.3%;
  }

  body {
    @apply bg-background text-foreground;
  }

  .dark {
    --background: 210 10% 12%;
    --foreground: 210 40% 98%;
    --primary: 142.1 70% 45%;
    --primary-foreground: 0 0% 100%;
  }
}
