legacy-peer-deps=false
resolution-mode=highest
strict-peer-dependencies=true
public-hoist-pattern[]=prismjs@1.31.0
public-hoist-pattern[]=refractor@4.8.1
public-hoist-pattern[]=react-refractor@3.1.1
save-exact=true
package-lock=true
hoist=false
child-concurrency=1
foreground-scripts=true
audit=true
audit-level=high
prefer-offline=true
cache-min=3600
auto-install-peers=false
fund=false
