# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# these users will be requested for review when someone
# opens a pull request.
*       @project-maintainers

# App configuration files
app-next-directory/next.config.*    @project-maintainers
app-next-directory/tailwind.config.* @project-maintainers

# Core components
app-next-directory/src/components/* @frontend-team

# Map related files
app-next-directory/src/components/map/* @map-team

# Image optimization and assets
app-next-directory/src/components/listings/ImageGallery.tsx @image-team
app-next-directory/src/lib/getListingImages.js @image-team

# Data and API
app-next-directory/src/lib/* @backend-team
app-next-directory/src/data/* @backend-team

# Documentation
*.md    @docs-team @project-maintainers

# GitHub specific files
.github/* @project-maintainers
