{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "decoratorMetadata": true
    },
    "target": "es2020"
  },
  "module": {
    "type": "es6",
    "noInterop": false
  },
  "sourceMaps": true,
  "ignore": [
    "babel.config.js"
  ]
}
